@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

/* Variáveis de cor e transição */
$bg-start: #9600c4; // roxo
$bg-end: #000000;// preto
$text-color: #ffffff;
$highlight-color: #d18fff;
$transition-speed: 0.3s;

/* Fundo global da página */
body {
  background: linear-gradient(300deg, $bg-end,$bg-start);
  color: $text-color;
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
