@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/bootswatch/dist/cosmo/bootstrap.min.css';


$bg-start: #f5f7fa;           
$bg-end: #e0e4e9;            
$text-color: #2f3542;         
$highlight-color: #091122;  
$transition-speed: 0.3s;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: none;
  color: $text-color;
  font-family: 'Segoe UI', sans-serif;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
